# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
epi_db